nav li {
  display: inline-block;
  margin: 4px 10px 4px 0;
}

nav li a {
  padding: 6px;
  border-radius: 3px;
  color: tomato;
}

nav li a.active, nav li a:hover {
  background-color: tomato;
  color: white;
  text-decoration: none;
}

.content {
  margin: 20px;
}

.meme img, .meme-img {
  max-width: 240px;
}

.memes .meme {
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
  list-style: none;
}
